.cell {
    margin: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #297780;
    cursor: pointer;
    text-align: center;
    font-size: 40px;
    vertical-align: middle;
    position: relative;
    left: 280px;
}

td {
    width: 15px;
}

tr {
    height: 20px;
}

table, th, td {
    border: 1px solid #297780;
    cursor: pointer;
    background: black;
}

.page {
    align-content: center;
}