td {
    width: 30px;
}

tr {
    height: 30px;
}

table, th, td {
    border: 3px solid #297780;
    cursor: pointer;
    background: black;
    text-align: center;
}

body {
    text-align: center;
}
